#!/bin/sh

if [ ! -f venv-eurobsdcon/bin/activate ]
then
	echo "Creating virtual environment"
	python3 -m venv venv-eurobsdcon >/dev/null
fi

if [ -f venv-eurobsdcon/bin/activate ]
then
	echo "Activating virtual environment"
	. venv-eurobsdcon/bin/activate
fi

if [ -f venv-eurobsdcon/bin/pip3 ]
then
	echo "Installing requirements"
	venv-eurobsdcon/bin/pip3 install --upgrade pip >/dev/null
	venv-eurobsdcon/bin/pip3 install ansible-lint --upgrade >/dev/null
	ansible-galaxy collection install community.general --upgrade >/dev/null
	ansible-galaxy collection install ansible.posix --upgrade >/dev/null
fi
