[defaults]
hash_behaviour = merge
interpreter_python = python3
remote_user = vagrant
inventory = hosts

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes

[privilege_escalation]
become = true
